@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");






.info {
  font-family: "Montserrat", sans-serif;
  font-size: 36px;
  font-weight: 700;
  margin-left: 60px;
}



.favorite-title {
  margin-left: 90px;
  margin-top: 120px;
  margin-bottom: 35px;
  font-family: "Montserrat", sans-serif;
  font-size: 36px;
  color: rgb(19, 96, 173);
  font-weight: 700;
}

.favorite-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width:85%;
    height: 350px;
    opacity: 60%;
  
}
 
.favorite-items{
    display: flex;
    flex-direction: column;

    justify-content: space-between;
    margin-top: 20px;
  top: 50%;
  left: 50%;
  transform: translate(10%, -120%);
  font-family: "Times New Roman", Times, serif;
  color: white;
  font-size: 50px;
  width: 90%;
  text-align: left;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 36px;
}
.favorite-name,.favorite-date,.favorite-subCategory{
    margin-bottom: 40px;
}
.favorite-events{
    margin-bottom: -250px;
}

