@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

.image {
  width: 485px;
  height: 270px;
  margin-left: -71px;
}

.upcoming-events {
  display: flex;
  flex-direction: row;
  justify-content: center;
  justify-content: space-around;
  margin-bottom: 80px;
  margin-left: 89px;
  width: 87%;
}

.upcoming-info {
  font-family: "Montserrat", sans-serif;
  font-size: 36px;
  font-weight: 700;
  margin-top: -15px;
  margin-left: -100px;
  width: 30%;
}

.all-content {
  margin-top: 50px;
}

.upcoming-title {
  margin-left: 117px;
  margin-bottom: 35px;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
}

.subCategory {
  color: rgb(19, 96, 173);
}
.add-icon {
  font-weight: 700;
  color: rgb(19, 96, 173);
  margin-right: 50px;
}

.upcoming-add {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 95%;
}

.heart {
  height: 60px;
  width: 60px;
  border-left: 10px;
  margin-right: -89px;
  margin-top: -5px;
}

.heart-button-container {
  background-color: white;
  border: none;
  height: 50px;
  width: 60px;
  margin-top: -10px;
}
