@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

.image {
  width: 485px;
  height: 270px;
}

.upcoming-events {
  display: flex;
  flex-direction: row;
  justify-content: center;
  justify-content: space-around;
  margin-bottom: 80px;
  margin-left: 120px;
  width: 80%;
  /* margin-top: 150px; */
}

.info {
  font-family: "Montserrat", sans-serif;
  font-size: 36px;
  font-weight: 700;
  margin-left: 60px;
}

.all-content {
  margin-top: 50px;
}

.upcoming-title {
  margin-left: 120px;
  margin-bottom: 35px;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
}

.subCategory {
  color: rgb(19, 96, 173);
}
.add-icon {
  height: 36px;
  width: 36px;
 

}

.upcoming-add{
  display: flex;
  flex-direction: row;
}