@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap");
.carousel {
  margin: 20px 60px 0 60px;
}
.art-header {
  margin: 125px 30px 25px 120px;
  font-family: "Montserrat", sans-serif;
  color: rgb(19, 96, 173);
  font-weight: 700;
}
.art-header h3 {
  font-size: 40px;
  font-weight: 700;
}
